.GridMenu {
    display: flex;
    border-top: 2px solid white;
    height: 80px;
}

.gridButton {
    position: absolute;
    left: 5px;
    color: red;
}

.swatch {
    margin: auto;
    /*margin-top: 7px;*/
    margin-left: 10px;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.swatch:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

/*.value {*/
/*    font-family: 'Work Sans', sans-serif;*/
/*    fill: #fc5a96;*/
/*    font-size: 20px;*/
/*}*/

.numInputs {
    position: absolute;
    display: block;
    padding-top: 10px;
    left: 160px;
}