.ToolsMenu {
    height: 430px;
    position: relative;
    bottom: 40px;
    /*z-index: 3;*/
}

.toolMenuTab {
    display: flex;
    height: 35px;
    z-index: 0;
}

.tabMiddle {
    background-color: #282c34;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 40%;
    /*height: 45px;*/
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
    color: white;
    font-family: Futura;
    font-size: 25px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-bottom-width: 0px;
    cursor: pointer;
    z-index: 0;

    /*box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 0 0px 15px white;*/
}

.tabTitle {
    position: relative;
    margin-top: 5px;
}

.tabTitle:hover {
    /*transform: scale(2);*/
    font-size: 20.5pt;
    bottom: 3px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    /*margin-top: 0px;*/
}

.tabLeft {
    width: 30%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    /*box-shadow: 0 0px 20px white;*/
    /*position: relative;*/
    /*top: 35px;*/
    z-index: 0;
}

.tabRight {
    width: 30%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}



.GridMenu {
    display: flex;
    z-index: 1;
    /*border-top: 2px solid white;*/
    /*box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);*/
    justify-content: space-evenly;
    overflow-y: scroll;
    background-color: #282c34;
}

.gridButton {
    /*position: absolute;*/
    /*left: 5px;*/
    height: 60px;
    color: red;
}

.swatch {
    /*margin: auto;*/
    margin-top: 10px;
    /*margin-left: 10px;*/
    border-radius: 5px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.swatch:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

/*.value {*/
/*    font-family: 'Work Sans', sans-serif;*/
/*    fill: #fc5a96;*/
/*    font-size: 20px;*/
/*}*/

.numInputs {
    /*position: absolute;*/
    display: block;
    padding-top: 10px;
    justify-content: space-evenly;
    /*left: 160px;*/
}