.LineProfileClosed{
    position: relative;
    margin: auto;
    width: 95%;
    margin-top: 10px;
    /*margin-bottom: 2px;*/
    border-radius: 10px;
    padding: 0;
    height: 74px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}

.LineProfileOpened {
    position: relative;
    margin: auto;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    padding: 0;
    /*height: 74px;*/
    box-shadow: 0 0 10px black;
}

.mainSection {
    position: relative;
    display: inline-flex;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    /*border:1px solid red;*/
    border-radius: 10px;
    height: 74px;
    /*height: 101%;*/
    width: 99.8%;
    /*max-height: 70px;*/
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
}

.leftSide {
    width: 4.8vw;
    max-width: 65px;
    min-width: 48px;
    /*border-right: 2px solid rgba(0, 0, 0, 0.3);*/
}

.swatch {
    margin: auto;
    margin-top: 7px;
    border-radius: 5px;
    height: 80%;
    width: 80%;
    cursor: pointer;
    transition: transform 80ms ease-in-out;
}



.swatch:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.rightSide {
    width: 25vw;
    justify-content: left;
    /*height: 105%;*/
    /*height: 90px;*/
    border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.topSection {
    height: 38px;
    display: flex;
    min-width: 300px;
}

.lineTypeIcon {
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.lineTitle {
    position: relative;
    text-align: left;
    margin-top: 8px;
    margin-left: 15px;
}

.unitSelect {
    position: relative;
    margin-left: 15px;
    /*padding-bottom: 4px;*/
    width: 30px;
    height: 30px;
    top: 4px;
    left: 10px;
    background-color: red;
    color: red;
    justify-content: left;
}

.deleteButton {
    font-size: 18pt;
    position: absolute;
    right: 0.8vw;
    cursor: pointer;
    /*float: right;*/
    transition: transform 80ms ease-in-out;
}

.deleteButton:hover {
    transform: scale(1.2);
}

.bottomSection {
    /*position: relative;*/
    margin: 0px;
    padding-left: 7px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    width: 150%;
    min-width: 300px;
    height: 35px;
    float: left;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.1);
}

.numberContainer {
    background-color: white;
    width: 45px;
    border-radius: 5px;
    margin: 8px;
    margin-right: 13px;
    /*margin-top: 0px;*/
    /*margin-left: 8px;*/
    float: bottom;
    padding: 0px;
    padding-top: 2px;
}

.number {
    margin: 0px;
    color: black;
}


.numberSectionDetails {
    display: flex;
    margin-top: -2px;
    margin-left: 2px;
}

.numberContainerDetails {
    background-color: white;
    width: 45px;
    height: 18px;
    border-radius: 5px;
    margin: 8px 10px 5px 10px;
    float: bottom;
    padding-top: 2px;
}


.detailsSection {
    display: block;
    margin-top: -4px;
    /*padding-bottom: 20px;*/
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    max-height: 160px;
    overflow: scroll;
    /*animation: fade-in .5s;*/
}

.detailRow {
    display: inline-flex;
    width: 100%;
    padding-left: 0px;
    /*padding-top: 0px;*/
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.rowNumber {
    margin: 0px;
    margin-right: 18px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 4px;
    margin-left: 20px;
    font-size: 14px;
    min-width: 25px;
    width: 25px;
    height: 20px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: transform 80ms ease-in-out;
}

.rowNumber:hover {
    box-shadow: 0 0 10px white;
    transform: scale(1.3);
}
