.App {
  text-align: center;
}

.container {
  display: inline-flex;
}

.canvas {
  position: relative;
}

.stopDrawButton {
  position: fixed;
  z-index: 12;
  border-radius: 5px;
  bottom: 10px;
  right: 0px;
  /*background-color: #282c34;*/
  color: white;
}