.LineProfile {
    margin: auto;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    /*background-color: #e9ebf0;*/
    border-radius: 10px;
    display: inline-flex;
    box-shadow: 0 0 10px black;
}

.leftSide {
    width: 65px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.swatch {
    margin: auto;
    margin-top: 7px;
    border-radius: 5px;
    height: 80%;
    width: 80%;
    cursor: pointer;
}

.swatch:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.rightSide {
    width: 25vw;
    justify-content: left;
}

.lineProfile hr{
    border-top: 1px solid black;
    margin: 0px;
}

.topSection {
    height: 30px;
    display: flex;
}

.lineTitle {
    position: relative;
    text-align: left;
    margin-top: 8px;
    margin-left: 15px;
}

.unitSelect {
    position: relative;
    margin-left: 15px;
    /*padding-bottom: 4px;*/
    width: 30px;
    height: 30px;
    top: 4px;
    left: 10px;
    background-color: red;
    color: red;
    justify-content: left;
}

.deleteButton {
    font-size: 16pt;
    position: absolute;
    right: 1vw;
    cursor: pointer;
    /*float: right;*/
}

.bottomSection {
    margin: 0px;
    margin-left: 7px;
    height: 25px;
    float: left;
    display: inline-flex;
}

.bottomSection a{
    /*text-align: left;*/
    /*margin-left: 8px;*/
}

.numberContainer {
    background-color: white;
    width: 45px;
    border-radius: 5px;
    margin: 5px;
    margin-top: 0px;
    margin-left: 8px;
    float: bottom;
    padding: 0px;
    padding-top: 2px;
}

.number {
    margin: 0px;
}




