.LineProfile {
    /*margin: auto;*/
    position: relative;
    width: 95%;
    margin-top: 10px;
    margin-bottom: -6px;
    /*background-color: #e9ebf0;*/
    height: 74px;
    background-color: rgba(0, 0, 0, 0.3);


    overflow: hidden;
    border-radius: 10px;
    display: inline-flex;
    box-shadow: 0 0 8px black;
}

.leftSide {
    width: 4.8vw;
    max-width: 65px;
    min-width: 48px;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 3px;
}

.swatch {
    margin: auto;
    margin-top: 7px;
    border-radius: 5px;
    height: 80%;
    width: 80%;
    cursor: pointer;
    transition: transform 80ms ease-in-out;
}

.swatch:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.rightSide {
    width: 25vw;
    justify-content: left;
}

.topSection {
    height: 38px;
    display: flex;
    min-width: 300px;
}

.lineTypeIcon {
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.lineTitle {
    position: relative;
    text-align: left;
    margin-top: 8px;
    margin-left: 15px;
}

.unitSelect {
    position: relative;
    margin-left: 15px;
    /*padding-bottom: 4px;*/
    width: 30px;
    height: 30px;
    top: 4px;
    left: 10px;
    background-color: red;
    color: red;
    justify-content: left;
}

.deleteButton {
    font-size: 18pt;
    position: absolute;
    right: 0.8vw;
    cursor: pointer;
    transition: transform 80ms ease-in-out;
    /*float: right;*/
}

.deleteButton:hover {
    transform: scale(1.2);
}

.bottomSection {
    margin: 0px;
    padding-left: 7px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    width: 150%;
    min-width: 300px;
    height: 35px;
    float: left;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.1);
}

.numberContainer {
    background-color: white;
    width: 45px;
    border-radius: 5px;
    margin: 8px;
    /*margin-top: 0px;*/
    /*margin-left: 8px;*/
    float: bottom;
    padding: 0px;
    padding-top: 2px;
}

.number {
    margin: 0px;
}



