.LineProfile {
    margin: auto;
    width: 95%;
    margin-top: 8px;
    background-color: #e9ebf0;
    border-radius: 5px;
    display: inline-flex;
}

.leftSide {
    width: 5vw;
}

.swatch {
    margin: auto;
    margin-top: 3px;
    border-radius: 5px;
    height: 90%;
    width: 90%;
}

.rightSide {
    width: 25vw;
}

.lineProfile hr{
    border-top: 1px solid black;
}

.topSection {
    height: 10px;
}

.bottomSection {
    display: inline-flex;
}

.numberContainer {
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    float: bottom;
}

.number {
    margin: 2px;
}