.LineProfile {
    margin: auto;
    width: 95%;
    margin-top: 8px;
    background-color: #e9ebf0;
    border-radius: 5px;
    display: inline-flex;
}

.leftSide {
    width: 5vw;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.swatch {
    margin: auto;
    margin-top: 6px;
    border-radius: 5px;
    height: 80%;
    width: 80%;
}

.rightSide {
    width: 25vw;
    justify-content: left;
}

.lineProfile hr{
    border-top: 1px solid black;
    margin: 0px;
}

.topSection {
    height: 20px;
    display: flex;
}

.lineTitle {
    position: relative;
    text-align: left;
    margin-top: 5px;
    margin-left: 15px;
}

.deleteButton {
    font-size: 16pt;
    position: absolute;
    right: 15px;
    cursor: pointer;
    /*float: right;*/
}

.bottomSection {
    margin: 0px;
    margin-left: 7px;
    height: 20px;
    float: left;
    display: inline-flex;
}

.bottomSection a{
    text-align: left;
    margin-left: 8px;
}

.numberContainer {
    background-color: white;
    width: 45px;
    border-radius: 5px;
    margin: 5px;
    margin-top: 0px;
    float: bottom;
    padding: 0px;
}

.number {
    margin: 0px;
}




