.sidebar {
    height: 100vh;
    /*width: 30vw;*/
    background-color: #282c34;
    display: block;
    box-shadow: 0 0 25px black inset;
}

.topSection {
    height: 138px;
}

.profiles {
    height: calc(100vh - 146px - 80px);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}