.overlay {
    position: fixed;
    /*background-color: white;*/
    z-index: 10;
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
/*    height: 100vh;*/
/*    width: 100vw;*/
}

.colorBubbleContainer {
    position: relative;
    left: 90px;
    bottom: 56px;
}

.colorBubble {
    position: relative;
    display: flex;
    /*padding: 10px;*/
    height: 40px;
    background: rgba(255, 255, 255, 1);
    height: 50px;
    /*width: 200px;*/
    border-radius: 0 .4em .4em 0;

}

.colorBubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-right-color: rgba(255, 255, 255, 1);
    border-left: 0;
    margin-top: -25px;
    margin-left: -25px;
}